.footer{
  margin-top: 50px;
  font-size: 14px;
  a{
    text-decoration: none;
  }
  .container{
    color: #484848;
    background-color: whitesmoke;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
