$main_theme_color:#EF5350;

.pokemon-list {
  .container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
    margin-top: 10px;
  }
  .nav-list {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
  }
  .pokemon {
    border-radius: 5px;
    border-color: $main_theme_color;
    border-width: 0.5px;
    border-style: solid;
    padding: 10px;
    .name{
      text-align: center;
      color: $main_theme_color;
      font-size: 20px;
    }
    hr{
      border-top: 1px solid $main_theme_color;
    }
  }
}
