<div class="pokemon-list">
  <div class="nav-list container">
      <a *ngIf=pokemonPage?.shouldDisplayPrevPage (click)="prevPage()">&laquo; previous page</a>&nbsp; &nbsp;
      <a *ngIf=pokemonPage?.shouldDisplayNextPage (click)="nextPage()">next page &raquo;</a>&nbsp;
  </div>
  <div class="nav-list container">
    <input #searchString type="text" placeholder="Search a pokemon">&nbsp; <a (click)="searchWith(searchString.value)">search &raquo;</a>
  </div>
  <div>
    <div class="pokemon container" *ngFor="let pokemon of pokemonPage?.pokemonList">
      <div class="snippet-frame">
        <p class="name fav-icon" (click)="setFavoriteWith(pokemon?.name)" [innerHTML]="pokemon?.favIcon"></p>
      </div>
      <div class="snippet-frame">
        <p class="name">{{pokemon?.name | titlecase}}</p>
      </div>
      <div class="snippet-frame">
        <app-pokemon-snippet [url]="pokemon?.url"></app-pokemon-snippet>
      </div>
      <a class="details-link" (click)="showDetailWith(pokemon?.name)">details &raquo;</a>
    </div>
  </div>
</div>
