/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Carter+One');

$theme_primary_color: #EF5350;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  button.btn {
    border-radius: 5px;
    padding: 7px;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: $theme_primary_color;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $theme_primary_color;

    &:hover {
      background-color: $theme_primary_color;
      color: whitesmoke;
    }
  }

  .error {
    background-color: #E53935;
  }

  .info {
    background-color: #2196F3
  }
}

.text-link {
  border-style: none;
  padding: auto;
  color: #EF5350;

  &:hover {
    color: #c44542;
    background-color: transparent;
  }
}

$main_theme_color: #EF5350;

.pokemon-list {
  .container {
    @media (max-width: 768px) {
      width: calc(100% - 40px);
    }
    width: calc(100% - 150px);
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    margin-top: 10px;

    input {
      color: $main_theme_color;
      padding: 7px;
      background-color: transparent;
      border-radius: 5px;
      box-shadow: none;
      outline: none !important;
      border: 1px solid $main_theme_color;
    }

  }

  .nav-list {
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;

    .btn{
      margin-left: 3px;
      margin-right: 3px;
    }

    input{
      margin-left: 6px;
      margin-right: 6px;
    }

    hr {
      display: none;
      @media (max-width: 768px) {
        display: block;
        opacity: .3;
      }
    }
  }

  .alert {
    background-color: #E53935;
    color: white;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-bottom: 8px;
    @media(max-width: 768px) {
      max-width: 300px;
    }

    button {
      margin-top: 5px;
      margin-right: 5px;
      padding: auto;
      font-size: 11px;
    }
  }

  .pokemon {
    border-radius: 5px;
    border-color: $main_theme_color;
    border-width: 0.5px;
    border-style: solid;

    .details-link {
      float: right;
      margin-right: 30px;
      margin-top: 25px;
      @media (max-width: 768px) {
        float: right;
        margin: auto;
        font-size: 12px;
        margin-top: 7px;
        margin-right: 5px;
      }
    }

    .name {
      color: $main_theme_color;
      font-size: 20px;
      font-family: 'Carter One', cursive;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    .fav-icon {
      cursor: pointer;
      color: #EF5350;
      border-style: solid;
      border-width: 1px;
      background-color: whitesmoke;
      color: #EF5350;
      padding: 5px;
      border-radius: 3px;

      &:hover {
        background-color: #EF5350;
        color: whitesmoke !important;;
      }
    }

    .snippet-frame {
      @media(max-width: 768px) {
        margin-left: 5px;
      }
      margin-left: 20px;
      display: inline-block;
    }

  }
}
